body {background-color: #ffffff;font-family:Roboto}
.section1 {color:#ffffff;background-color:#2f303A}
.section2 {background-color:#F5F4FA}
.footer {background-color: #2f303A}
.address {color:#ffffff}
.address a {color:inherit;opacity:0.6}
.web {color: #2196F3}
.chapter {color: #212121}
.lorem-ipsum {color:#212121}
.loremtext {color:#757575}
.contacts a{color:#757575}
.contacts a:hover{color:#2196F3}
.header a{color:#212121}
.header a:active{color:#2196F3}